.containerProjects {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.card-body {
    text-align: center;
}

.container h2 {
    margin-top: 10px;
}

.cardProject {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.btnProject {
    color: white;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    background-color: #198754;
}

.projects a {
    text-decoration: none;
}

.projects a p {
    margin-bottom: 0px;
}

.projects .card-footer {
    border-top: unset;
}

.btnProject p {
    font-size: 12px;
  }

@media (min-width: 720px) {
    .cardProject {
        min-width: calc(calc(100% / 2) - 10px);
    }
}

@media (max-width: 720px) {
    .projects .card {
        min-width: -webkit-fill-available;
    }

    .containerProjects {
        flex-wrap: wrap;
    }
}

@media (min-width: 999px) {
    .projects {
        margin-top: 40px;
    }
}