<section class="projects">
  <div class="container">
    <h2>Projetos</h2>
  </div>
  <div class="container containerProjects">
    <div class="card border-success mb-3 cardProject" style="max-width: 18rem;" *ngFor="let projeto of projetos">
      <div class="card-body text-success">
        <p class="card-text">{{projeto.nome}}</p>
      </div>
      <a (click)="verProjeto(projeto)" class="btp">
        <div class="btnProject">
          <p>Ver</p>
          <p>Projeto</p>
        </div>
      </a>
    </div>
  </div>
</section>