<footer>
    <div class="social">
        <p class="texto">Construindo inovação, inspirando criatividade - Laboratório Maker Urutaí.</p>
        <ul class="links">
            <li><a href="https://www.youtube.com/@labifmakerurutai663"><img src="https://cdn.icon-icons.com/icons2/1211/PNG/96/1491580651-yumminkysocialmedia28_83061.png"></a></li>
            <li><a href="https://www.instagram.com/ifmaker_urutai/"><img src="https://cdn.icon-icons.com/icons2/1211/PNG/96/1491580635-yumminkysocialmedia26_83102.png"></a></li>
            <li><a href="mailto:ifmaker.urt@ifgoiano.edu.br"><img src="https://cdn.icon-icons.com/icons2/1826/PNG/96/4202011emailgmaillogomailsocialsocialmedia-115677_115624.png"></a></li>
        </ul>
    </div>
    <div class="copyright">
        <img src="https://cdn.icon-icons.com/icons2/2716/PNG/96/copyright_icon_173222.png" height="20px">
        <span>2023 Copyright </span> <b> : Laboratório Maker Urutaí</b>
    </div>
</footer>