<div id="principal"> <!--Div que define o background gradiente-->
  <!--Toolbar da pagina-->
  <app-toolbar></app-toolbar>
  <!--Sessão da pagina-->
  <section id="main">
    <div class="section">
      <span>Transfome suas ideias em realidade</span>
      <img src="../../../assets/Innovation-amico.png">
    </div>
    <div class="section1">
      <img src="../../../assets/Developer activity-bro.png">
      <span>Programe projetos incriveis</span>
    </div>
  </section> 
</div>
<!--Rodapé-->
<app-footer></app-footer>