<nav class="navbar navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="https://getbootstrap.com/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="30" height="24">
    </a>
    <ul class="menuDash">
      <li><a (click)="sair()"><mat-icon aria-hidden="false" fontIcon="logout"></mat-icon></a></li>
      <li *ngIf="userAdmin"><button class="btnMenuLi" routerLink="/in/gerar-token">Gerar Token</button></li>
      <li *ngIf="!userAdmin"><button class="btnMenuLi" routerLink="/in/frequencia">Frequência</button></li>
      <li><button class="btnMenuLi" routerLink="/in/agenda">Agenda</button></li>
      <li><button class="btnMenuLi" routerLink="/in/atualizacoes">Atualizações</button></li>
      <li><button class="btnMenuLi" routerLink="/in/projetos">Projetos</button></li>
      <li><button class="btnMenuLi" routerLink="/in/dashboard">Início</button></li>
    </ul>

    <div class="dropdown">
      <button type="button" class="btn btn-secondary btn-sm btnMenu" data-bs-toggle="collapse"
        data-bs-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2"
        (click)="openMenu()">
        <mat-icon aria-hidden="false" fontIcon="menu" *ngIf="!menuVisible"></mat-icon>
        <mat-icon aria-hidden="false" fontIcon="close" *ngIf="menuVisible"></mat-icon>
      </button>
    </div>

  </div>
</nav>
<ul class="menuRes" *ngIf="menuVisible">
  <li><button class="btnMenuLi" routerLink="/in/dashboard">Início</button></li>
  <li><button class="btnMenuLi" routerLink="/in/projetos">Projetos</button></li>
  <li><button class="btnMenuLi" routerLink="/in/atualizacoes">Atualizações</button></li>
  <li><button class="btnMenuLi" routerLink="/in/agenda">Agenda</button></li>
  <li *ngIf="!userAdmin"><button class="btnMenuLi" routerLink="/in/frequencia">Frequência</button></li>
  <li *ngIf="userAdmin"><button class="btnMenuLi" routerLink="/in/gerar-token">Gerar Token</button></li>
  <li><a (click)="sair()" style="display: flex; align-items: center; flex-direction: row; justify-content: center;"
      href="."><mat-icon aria-hidden="false" fontIcon="logout"></mat-icon>‎ ‎ Sair</a></li>
</ul>