<section class="treeCards">
  <div class="container HelloUser">
    <h1>Olá {{usuario.nome}}</h1>
  </div>
  <div class="container containerCards">
    <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
      <div class="card-body">
        <h5>Projetos</h5>
        <h1 class="contentCard">{{usuario.num_projetos}}</h1>
      </div>
    </div>

    <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
      <div class="card-body">
        <h5>Online</h5>
        <h1 class="contentCard">5</h1>
      </div>
    </div>

    <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
      <div class="card-body">
        <h5>Frequência</h5>
        <h1 class="contentCard">{{usuario.status}}</h1>
      </div>
    </div>
  </div>
</section>

<section class="projects">

  <h2>Meus Projetos</h2>
  <div class="container containerProjects">
    <div class="card border-success mb-3 cardProject" style="max-width: 18rem;" *ngFor="let projeto of projetos">
      <div class="card-body text-success">
        <p class="card-text">{{projeto.nome}}</p>
      </div>
      <a (click)="verProjeto(projeto)" class="btp">
        <div class="btnProject">
          <p>Ver</p>
          <p>Projeto</p>
        </div>
      </a>

    </div>

    <!-- <div class="card border-success mb-3 cardProject" style="max-width: 18rem;">
      <div class="card-body text-success">
        <p class="card-text">Nome do projeto aqui</p>
      </div>
      <a href="">
        <div class="btnProject">
          <p>Ver</p>
          <p>Projeto</p>
        </div>
      </a>

    </div> -->
  </div>
</section>